* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ===========Nav Bar============= */
nav {
  z-index: 1000;
  background-color: #fff;
}

a.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* =======Container for every other section below the nav============= */
#main-container {
  height: fit-content;
  padding: 0;
  overflow: hidden;
}

section#hero-section {
  height: 88vh;
  background-image: linear-gradient(#3b3333a4, #3b3333a4),
    url(images/pexels-element5-1370295.jpg);
  background-size: cover;
  background-position: center;
}

div#content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.centered-content {
  text-align: center;
  color: white;
}

div.centered-content div.texts h1 {
  font-weight: 700;
  font-size: 3rem;
}

div.centered-content div.texts p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #c1c8c8;
}

div.buttons-container {
  display: flex;
  font-weight: 500;
  flex-direction: column;
}

button.start-trial {
  margin-bottom: 1rem;
}

button.start-trial:hover {
  background-color: grey;
  border: 1px solid grey;
}

button.browse-courses:hover {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: white;
}

div.buttons-container button {
  padding: 1rem;
}

/* ======search bar section design ====================== */
section#search {
  background-color: #dd3333;
  padding: 2rem 0px;
}

div.search-bar-container {
  display: flex;
  justify-content: center;
}

#search-bar {
  padding: 1rem;
  width: 50%;
  outline: 0px;
  border: 0px;
  border-radius: 0.5rem 0px 0px 0.5rem;
}

#search-bar::placeholder {
  font-weight: 500;
}

button.search-icon-container {
  background-color: black;
  color: white;
  padding: 0px 1.5rem;
  color: white;
  border: 0px;
  border-radius: 0px 0.5rem 0.5rem 0px;
}

button.search-icon-container i {
  display: block;
}

/* =========popular courses section =========== */

section.popular-courses {
  padding: 3rem 0px;
}

section.popular-courses div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px;
}

div.header button.browse-all-courses {
  display: block;
  border: 0px;
  align-items: center;
  background-color: #fff;
}

button.browse-all-courses a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  color: #778ab9;
  text-decoration: none;
  transition: color 0.3s;
}

button.browse-all-courses a:hover {
  color: #dc3545;
}

button.browse-all-courses a * {
  display: inline-block;
}

button.browse-all-courses::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.04rem;
  background-color: #778ab9;
  transition: background-color 0.3s;
}

button.browse-all-courses:hover::after {
  background-color: #dc3545;
}

div.course-card:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem 0.1rem #0000003b;
} 

div.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===========mobile styling============ */

@media (max-width: 767px) {
  .navbar-brand img {
    margin: 0;
  }

  /* ==============side bar header(containing the logo and close btn)========== */
  .offcanvas-header {
    border-bottom: 1px solid #0080005e;
    padding: 0.5rem 1rem;
  }

  /* ======adding margin to the bottom of the course,pages and blog button.======= */

  div.offcanvas div.dropdown,
  div.offcanvas li.nav-item {
    margin-bottom: 1rem;
  }

  /* centered text styling for the hero section============ */

  div.centered-content div.texts h1 {
    font-size: 2.5rem;
  }

  div.centered-content div.texts p {
    font-size: 1.2rem;
  }

  div.buttons-container button {
    padding: 0.5rem;
  }

  /* search bar section============= */
  #search-bar {
    width: 100%;
  }

  /* popular courses section============= */

  section.popular-courses div.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
