* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* ===========Nav Bar============= */
a.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

/* =======Container for every other section below the nav============= */
#main-container {
  border: 2px solid red;
  height: 100%;
  padding: 0;
}

@media (max-width: 767px) {
  .navbar-brand img {
    margin: 0;
  }

  /* ==============side bar header(containing the logo and close btn)========== */
  .offcanvas-header {
    border-bottom: 1px solid #0080005e;
    padding: 0.5rem 1rem;
  }

  /* ======adding margin to the bottom of the course,pages and blog button.======= */
  .btn.btn-secondary.dropdown-toggle {
    margin-bottom: 1rem;
  }
}
